/*
*= require media-box
*= require lightbox
*= require autocomplete
*= require mentions
*= require tags
*= require hovercard

*= require vendor/interim-bootstrap
*= require vendor/facebox
*= require vendor/fileuploader
*= require vendor/autoSuggest
*/

#home {
  background-color: #ffffff;
	background-repeat: repeat;
	-moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  height: 100%;
}
