.container{:style => "position:relative;"}
  = link_to "EVERGREEN", root_path, :height => "16px", :width => "161px", :style => 'position:relative;top:5px;'
  %ul#landing_nav
    %li= link_to t('.login'), new_user_session_path, :class => 'login'
